
$black-dark: #050607;
$black-normal: #0d0e10;
$black-light: #15171a;

$white-dark: #edeff0;
$white-normal: #f5f7f7;
$white-light: #fafcfc;

$purple-dark: #5517DA;
$purple-normal: #6D27E7;
$purple-light: #863AF2;

$gray-1: #777;